# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
*.pyo
*.pyd

# ==============================
# Virtual Environment
# ==============================
venv/
.venv/
env/
ENV/

# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

# ==============================
# Django / Runtime
# ==============================
*.log
staticfiles/
media/
media/tmp/
backups/*.sqlite3
backups/

# SQLite databases
db.sqlite3
*.sqlite3
*.sqlite3-journal
*.pem
*.key

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Testing / Coverage
# ==============================
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# ==============================
# Build / Distribution
# ==============================
build/
dist/
pip-wheel-metadata/

# ==============================
# Django / Tooling
# ==============================
.mypy_cache/
.ruff_cache/

# ==============================
# Temporary Files
# ==============================
*.tmp
*.temp
*.swp
*.swo