{% load static %}
<a class="fg-category-card" href="{% url 'service_category' category.slug %}">
    <span class="fg-category-card__icon">{% if category.image %}<img src="{{ category.image.url }}" alt="" loading="lazy">{% else %}<i class="fa-solid fa-arrow-up-right-dots" aria-hidden="true"></i>{% endif %}</span>
    <span class="fg-category-card__body"><strong>{{ category.name }}</strong><span>{{ category.description|default:'Focused support for your business goals.'|truncatechars:150 }}</span></span>
    <span class="fg-category-card__arrow"><i class="fa-solid fa-arrow-up-right" aria-hidden="true"></i></span>
</a>
