{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | FinGrow Admin{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'admin/css/fingrow-admin.css' %}">
{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}" class="fg-admin-brand">
        {% if admin_company.logo %}<img src="{{ admin_company.logo.url }}" alt="">{% endif %}
        <span>{{ admin_company.company_name|default:'FinGrow Consultancy Services' }}<small>Administration</small></span>
    </a>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}
